In [1]:
pwd

'C:\\Users\\atmik\\Documents\\10 Machine Learning'

In [2]:
cd D:\Data Scientist\Data Entry

D:\Data Scientist\Data Entry

In [3]:
pwd

'D:\\Data Scientist\\Data Entry'

In [4]:
import pandas as pd
import math 

df = pd.read_csv('multivariable_LR.csv')
print(df.to_string())
print()

m = math.floor(df.bedrooms.median())  #  finding median of bedrooms series
print(m)

df.bedrooms = df.bedrooms.fillna(m)  # filling all missing values by the value m (median)
print(df.to_string())

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

4
   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [11]:
len(df)

6

In [14]:
df.describe()

              area  bedrooms        age          price
count     6.000000  6.000000   6.000000       6.000000
mean   3416.666667  4.166667  16.500000  648333.333333
std     587.934237  1.169045   8.288546  109117.673484
min    2600.000000  3.000000   8.000000  550000.000000
25%    3050.000000  3.250000   9.750000  572500.000000
50%    3400.000000  4.000000  16.500000  602500.000000
75%    3900.000000  4.750000  19.500000  722500.000000
max    4100.000000  6.000000  30.000000  810000.000000

In [5]:
from sklearn import linear_model

reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df.price)

LinearRegression()

In [6]:
reg.predict([[3000,3,40]])

array([498408.25158031])